<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="content/css/alertify.core.css" />
    <link rel="stylesheet" href="content/css/alertify.bootstrap.css" />
    <script src="content/js/alertify.min.js"></script>
</head>

<body>
    <div ng-controller="RegisterController as vm">
        <form name="userForm" novalidate>
            <div>
                <input type="" name="" value="" ng-model="vm.user.Email" placeholder="email">
            </div>
            <div>
                <input type="text" name="name" value="" placeholder="nombre" ng-model="vm.user.Name" ng-minlength="5" ng-maxlength="10" required>
            </div>
            <div>
                <select ng-change="vm.getCinemas(vm.selectedCity.Clave)" ng-model="vm.selectedCity" ng-options="item.Nombre for color in vm.cities">
                <option value="">Selecciona ciudad</option>
                            </select> {{vm.selectedCity.Clave}}

            </div>
            <div>
                <select ng-model="vm.selectedCinema" ng-options="item.Nombre for item in vm.cinemas">
                                <option value="">Selecciona cinema</option>
                            </select>

            </div>
            <div>
                <button type="" ng-click="vm.save()">Guardar</button>
            </div>
            <div>
                <table border="1">
                    <tr ng-repeat="item in vm.users">
                        <td>{{item.Name}}</td>
                        <td>{{item.City}}</td>
                        <td>{{item.Cinema}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <script src="content/js/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/register/service.js"></script>
    <script src="app/register/controller.js"></script>
</body>

</html>